# Imports

In [2]:
import pandas as pd
import numpy as np
import os
import sys

# Set path
project_root = os.path.abspath(os.path.join("..", "src"))
if project_root not in sys.path:
    sys.path.append(project_root)

from data_processing import data_updater as du

# Structure

In [8]:
date = '20131021'
routes_txt, trips_txt, shapes_txt = du.load_txt_data(date)

c:\Users\User\Documents\Projects\budapest_time_travel\src\data_processing\data_updater.py:25: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  trips_txt = pd.read_csv(trips_path)

In [9]:
data_folder = '../data/processed/'
routes_df, route_versions_df, temporary_changes_df = du.load_df_data(data_folder)

In [10]:
routes_df

,route_id,agency_id,route_short_name,route_type,route_color,route_text_color,route_long_name
0,MOZG,BKK,MOZG,3,1188FF,000000,NaN
1,MP52,BKK,M2,3,1188FF,000000,NaN
2,MP525,BKK,M2E,3,1188FF,000000,NaN
3,VP01,BKK,1V,3,1188FF,000000,NaN
4,VP02,BKK,2V,3,1188FF,000000,NaN
...,...,...,...,...,...,...,...
315,9940,BKK,994,3,333333,FFFFFF,NaN
316,9960,BKK,996,3,333333,FFFFFF,NaN
317,9961,BKK,996A,3,333333,FFFFFF,NaN
318,9980,BKK,998,3,333333,FFFFFF,NaN
319,9990,BKK,999,3,333333,FFFFFF,NaN

## Update routes_df

In [11]:
updated_routes_df = du.update_routes_df(routes_df, routes_txt)
#du.save_routes(updated_routes_df, data_folder)

No duplicate route_id found in routes_df.

In [13]:
updated_routes_df[updated_routes_df["route_short_name"] == "58A"]

,route_id,agency_id,route_short_name,route_type,route_color,route_text_color,route_long_name
320,0581,BKK,58A,3,1188FF,000000,NaN

## Update route_versions_df

In [14]:
extended_route_versions_df = du.update_route_versions(route_versions_df, trips_txt, routes_txt, date)
#du.save_route_versions(extended_route_versions_df, data_folder)
extended_route_versions_df.head(4)

,version_id,route_id,direction_id,route_long_name,route_desc,valid_from,valid_to,shape_id,trip_headsign,parent_version_id,note
0,100000,0050,0,NaN,"PasarÃ©ti tÃ©r / RÃ¡kospalota, Kossuth utca",2013-10-18,NaT,R952,"RÃ¡kospalota, Kossuth utca",NaN,NaN
1,100001,0050,1,NaN,"PasarÃ©ti tÃ©r / RÃ¡kospalota, Kossuth utca",2013-10-18,NaT,U961,PasarÃ©ti tÃ©r,NaN,NaN
2,100002,0070,0,NaN,"Albertfalva vasÃºtÃ¡llomÃ¡s / Ãšjpalota, NyÃ­rpalot...",2013-10-18,NaT,S704,"Ãšjpalota, NyÃ­rpalota Ãºt",NaN,NaN
3,100003,0070,1,NaN,"Albertfalva vasÃºtÃ¡llomÃ¡s / Ãšjpalota, NyÃ­rpalot...",2013-10-18,NaT,S705,Albertfalva vasÃºtÃ¡llomÃ¡s,NaN,NaN

In [15]:
route_versions_df

,version_id,route_id,direction_id,route_long_name,route_desc,valid_from,valid_to,shape_id,trip_headsign,parent_version_id,note
0,100000,0050,0,NaN,"PasarÃ©ti tÃ©r / RÃ¡kospalota, Kossuth utca",2013-10-18,NaT,R952,"RÃ¡kospalota, Kossuth utca",NaN,NaN
1,100001,0050,1,NaN,"PasarÃ©ti tÃ©r / RÃ¡kospalota, Kossuth utca",2013-10-18,NaT,U961,PasarÃ©ti tÃ©r,NaN,NaN
2,100002,0070,0,NaN,"Albertfalva vasÃºtÃ¡llomÃ¡s / Ãšjpalota, NyÃ­rpalot...",2013-10-18,NaT,S704,"Ãšjpalota, NyÃ­rpalota Ãºt",NaN,NaN
3,100003,0070,1,NaN,"Albertfalva vasÃºtÃ¡llomÃ¡s / Ãšjpalota, NyÃ­rpalot...",2013-10-18,NaT,S705,Albertfalva vasÃºtÃ¡llomÃ¡s,NaN,NaN
4,100004,0071,0,NaN,Bornemissza tÃ©r / BosnyÃ¡k tÃ©r,2013-10-18,NaT,S710,BosnyÃ¡k tÃ©r,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
622,100622,VP101,1,NaN,"Ã“buda, BogdÃ¡ni Ãºt / Lehel utca/RÃ³bert KÃ¡roly k...",2013-10-18,NaT,X064,"Ã“buda, BogdÃ¡ni Ãºt",NaN,NaN
623,100623,VP42,0,NaN,"HatÃ¡r Ãºt M / Kispest, TulipÃ¡n utca",2013-10-18,NaT,X162,"Kispest, TulipÃ¡n utca",NaN,NaN
624,100624,VP42,1,NaN,"HatÃ¡r Ãºt M / Kispest, TulipÃ¡n utca",2013-10-18,NaT,X163,HatÃ¡r Ãºt M,NaN,NaN
625,100625,VP61,0,NaN,SzÃ©ll KÃ¡lmÃ¡n tÃ©r M / HÅ±vÃ¶svÃ¶lgy,2013-10-18,NaT,X017,HÅ±vÃ¶svÃ¶lgy,NaN,NaN
626,100626,VP61,1,NaN,SzÃ©ll KÃ¡lmÃ¡n tÃ©r M / HÅ±vÃ¶svÃ¶lgy,2013-10-18,NaT,X016,SzÃ©ll KÃ¡lmÃ¡n tÃ©r M,NaN,NaN

In [20]:
extended_route_versions_df[-10:]

,version_id,route_id,direction_id,route_long_name,route_desc,valid_from,valid_to,shape_id,trip_headsign,parent_version_id,note
629,100629,0581,1,NaN,Savoya Park / Budafoki temetÅ‘,2013-10-21,NaT,T098,Savoya Park,NaN,NaN
630,100630,0665,0,NaN,"HatÃ¡r Ãºt M / SoroksÃ¡r, BILK",2013-10-21,NaT,P927,"SoroksÃ¡r, BILK",NaN,NaN
631,100631,1380,1,NaN,"Csepel, Szent Imre tÃ©r / BudatÃ©tÃ©ny vasÃºtÃ¡llom...",2013-10-21,NaT,2491,"Csepel, Szent Imre tÃ©r",NaN,NaN
632,100632,3610,0,NaN,MÃ³ricz Zsigmond kÃ¶rtÃ©r / HÅ±vÃ¶svÃ¶lgy,2013-10-21,NaT,R263,BudagyÃ¶ngye,NaN,NaN
633,100633,3610,1,NaN,MÃ³ricz Zsigmond kÃ¶rtÃ©r / HÅ±vÃ¶svÃ¶lgy,2013-10-21,NaT,R264,MÃ³ricz Zsigmond kÃ¶rtÃ©r,NaN,NaN
634,100634,52PRB,0,NaN,DÃ©li pÃ¡lyaudvar M / Ã–rs vezÃ©r tere M+H,2013-10-21,NaT,X352,Ã–rs vezÃ©r tere M+H,NaN,NaN
635,100635,52PRB,1,NaN,DÃ©li pÃ¡lyaudvar M / Ã–rs vezÃ©r tere M+H,2013-10-21,NaT,X351,DÃ©li pÃ¡lyaudvar M,NaN,NaN
636,100636,6200,1,RÃ¡ckevei jÃ¡rat,KÃ¶zvÃ¡gÃ³hÃ­d / RÃ¡ckeve,2013-10-21,NaT,1230,KÃ¶zvÃ¡gÃ³hÃ­d,NaN,NaN
637,100637,6210,1,TÃ¶kÃ¶li jÃ¡rat,KÃ¶zvÃ¡gÃ³hÃ­d / TÃ¶kÃ¶l,2013-10-21,NaT,2268,KÃ¶zvÃ¡gÃ³hÃ­d,NaN,NaN
638,100638,6230,0,Dunaharaszti jÃ¡rat,KÃ¶zvÃ¡gÃ³hÃ­d / Dunaharaszti kÃ¼lsÅ‘,2013-10-21,NaT,L696,Dunaharaszti kÃ¼lsÅ‘,NaN,NaN

In [21]:
extended_route_versions_df[extended_route_versions_df["route_id"] == "3610"]

,version_id,route_id,direction_id,route_long_name,route_desc,valid_from,valid_to,shape_id,trip_headsign,parent_version_id,note
463,100463,3610,0,NaN,MÃ³ricz Zsigmond kÃ¶rtÃ©r / Zuhatag sor,2013-10-18,2013-10-20,X020,Zuhatag sor,NaN,NaN
464,100464,3610,1,NaN,MÃ³ricz Zsigmond kÃ¶rtÃ©r / Zuhatag sor,2013-10-18,2013-10-20,X021,MÃ³ricz Zsigmond kÃ¶rtÃ©r,NaN,NaN
632,100632,3610,0,NaN,MÃ³ricz Zsigmond kÃ¶rtÃ©r / HÅ±vÃ¶svÃ¶lgy,2013-10-21,NaT,R263,BudagyÃ¶ngye,NaN,NaN
633,100633,3610,1,NaN,MÃ³ricz Zsigmond kÃ¶rtÃ©r / HÅ±vÃ¶svÃ¶lgy,2013-10-21,NaT,R264,MÃ³ricz Zsigmond kÃ¶rtÃ©r,NaN,NaN