In [1]:
import pandas as pd

trips = pd.read_csv("../../data/raw/20250518/trips.txt")

C:\Users\User\AppData\Local\Temp\ipykernel_6924\707648147.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv("../../data/raw/20250518/trips.txt")

In [2]:
trips.head(3)

,route_id,trip_id,service_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,8140,C0418310,C04183AHPMAA-011,"Soroksár, Molnár-sziget",0,C04183_8140_1_5,Y701,1.0,1.0
1,8140,C0418311,C04183AHPMAA-011,Csepel-Királyerdő,1,C04183_8140_1_6,Y702,1.0,1.0
2,8140,C0418312,C04183AHPMAA-011,"Soroksár, Molnár-sziget",0,C04183_8140_1_7,Y701,1.0,1.0

In [28]:
trips[trips.service_id == '51681'].head(100)

,route_id,trip_id,service_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
272372,H8,H122015_39,51681,Gödöllő,0,NaN,39,NaN,1.0
273433,H5,H40011_2,51681,Batthyány tér,1,NaN,2,NaN,1.0
273437,H5,H40021_1,51681,Szentendre,0,NaN,1,NaN,1.0
273460,H5,H4011_2,51681,Batthyány tér,1,NaN,2,NaN,1.0

In [14]:
trips[trips.route_id == '3520'].head(3)

Empty DataFrame
Columns: [route_id, trip_id, service_id, trip_headsign, direction_id, block_id, shape_id, wheelchair_accessible, bikes_allowed]
Index: []

In [3]:
trips.shape_id.unique()[:20]

array(['Y701', 'Y702', 'Z034', 'Z035', 'EG41', 'EG40', '1112', '1111',
       '1109', '1110', 'AV91', 'AV90', 'Q600', 'Q599', 'B692', 'B693',
       '0977', '0976', '2064', 'B824'], dtype=object)

In [4]:
trips.direction_id.unique()

array([0, 1])

In [6]:
trips[trips.route_id == '3520']

Empty DataFrame
Columns: [route_id, trip_id, service_id, trip_headsign, direction_id, block_id, shape_id, wheelchair_accessible, bikes_allowed]
Index: []